
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*scroll-behavior: smooth;*/

}

#mainNav {
	display:flex;
	justify-content: space-between;
	padding: 0px 16px;
	position: fixed;
	width: 100%;
	top: 0px;
	
	transition: background 0.4s;
	z-index: 99;

	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#logo {
	height: 84px;
	width: 100px;
	transition: height 0.4s;
	size: 80px;

}



.ulright li a {
	color: #333;
	transition: color 0.4s;
	font-weight: 500;
	font-size: 1.1rem;
	text-transform: uppercase;
}




.mainSection {
	margin-top: 84px;
}





.bg-colorgr {
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #000428, #004e92);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #000428, #004e92);
}

.myfont {
	font-family: 'Roboto Condensed', sans-serif;
	
}

/*.border-black {
	border-style: solid;
	border-width: 3px;
	border-color: black; 
}*/

.border-bottom-color {
	border-style: none;
	border: none;
	border-bottom-style: solid;
	border-width: 2px;
	border-bottom-color: #001f3f; 
}

.carou {	
	height: 80vh;
}

#regheader {
	position: absolute;
	top: 45%;
	left: 35%;
	z-index: 30;
	transform: translate(-50%, -50%);
  	border: none;
  	text-shadow: 0px 1px 14px rgba(0,0,0,1.0);
  	color: #DCE5E8;
	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 4rem;
}
 
#regheader2 {
	position: absolute;
	top: 45%;
	left: 35%;
	z-index: 30;
	transform: translate(-50%, -50%);
  	border: none;
  	text-shadow: 0px 1px 14px rgba(0,0,0,1.0);
  	color: #DCE5E8;
	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 4rem;
}

 
#title {
/*	border: solid;
	border-width: 3px;
	padding-left: 5px;
	padding-right: 5px;*/
	/*text-shadow: 0px 1px 14px rgba(0,0,0,1.0);*/
	font-weight: bold;

}

.bg-reg {
background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 85vh;

}

.bg-blue {

	background: #000428 !important;  
	background: -webkit-linear-gradient(to left, #004e92, #000428) !important;  
	background: linear-gradient(to left, #004e92, #000428) !important; 
}
.txt-white a{
	color: white !important;
  	/*text-shadow: 1px 2px 5px rgba(0,0,0,1.0);*/
}

.font-white {
	color: white;
}


.active1 {

	border-bottom:	solid;
	border-width: 4px;
	border-bottom-color: #004e92;

}

.btn-red1 {
	background: #A8201A;
	
}

.notclick {
	pointer-events: none;
}

.btn-green1 {
	background: #0B5E10;
}
.btn-blue1 {
	background: #3693B5;
	pointer-events: none;
}

.btn-disabled {
	background: #2F2E30;
	pointer-events: none;
}

.font-red {
	color: #D62920;
	font-size: 1.2rem;
}

.alink:hover {
	color: #3693B5;
	/*color: red;*/

}
 
.alink2:hover {
	color: #3693B5;
	background:none !important;
	transition: 0.4s;
	background: white;

}

.btn-size {
	width: 50%;
	text-align: center;
	padding: 4px;
	font-size: 0.5rem;
	
}



 
